$boxShadowColor : rgb(202, 202, 202); 
.trash{
    width: 100%;
    .trash__content{
        margin: 0 0 0 15%;
        padding: 3rem;
        .trash__content__search{
             padding: 0.4rem 1rem;
             width: 50%;
             border: none;
             border-radius: 0.3rem;
             display: block;
             margin: 1rem 0rem 3rem 0;
             font-size: 0.9rem;
             -webkit-box-shadow: 0px 0px 6px 1px $boxShadowColor;
             -moz-box-shadow: 0px 0px 6px 1px $boxShadowColor;
             box-shadow: 0px 0px 3px 1px $boxShadowColor;
             &:focus {
                 outline: none;
             }
        }
        .trash__content__docs{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}