.doc{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;
    .doc__document{
        width: 40%;
        display: flex;
        flex-direction: column;

        .doc__document__title{
            border: none;
            border-radius: 0.5rem;
            font-weight: bold;
            width: 50%;
            padding: 0.5rem;
            margin: 0rem 0rem 5rem 0;
            &:focus{
                outline: none;
                background-color: rgb(232, 228, 247);
            }
        }

        .doc__document__text{
            border: none;
            margin: 1rem 0rem;
            border-radius: 0.5rem;
            font-size: 1.1rem;
            padding: 0.5rem;
            max-height: 60vh;
            min-height: 60vh;
            overflow-y: auto;
            &:focus{
                outline: none;
            }
            &:empty:before {
                content: attr(data-placeholder);
                color: rgb(150, 150, 150);
            }
        }
    }
    .doc__suggestions{
        width: 30%;
        padding: 1rem;
        .doc__suggestions__title{
            font-size: 1rem;
            font-weight: bold;
        }
        .doc__suggestions__inactive{
            width: 100%;
            display: flex;
            justify-content: center;
            .doc__suggestions__inactive__img{
                width: 90%;
                padding: 1rem;
                margin: 6rem 0;
            }
        }
    }
}