@use '../global';

$color: global.$color;
$mobile: global.$mobile;

.for_education{
    width: 100%;
    .for_education__heading{
        font-weight: bold;
        text-align: center;
        font-size: 3rem;
        margin: 3rem 0;
        padding: 1rem;
        @media(max-width: $mobile) {
            font-size: 2rem;
        }
    }
    .for_education__info{
        width: 40%;
        margin: 3rem auto;
        font-size: 1.2rem;
        text-align: center;
        @media(max-width: $mobile) {
            width: 90%;
        }
    }
}