$color: rgb(74, 185, 148);
$mobile: 950px;

@mixin btn__register($color) {
    padding: 0.8rem 1.5rem;
    border: $color solid 1px;
    background-color: $color;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0;
    font-size: 0.9rem;
    color: white;
}